$app-background: #ece7df;
$app-background-stripe: #00a884;
$icon-ack: #53bdeb;
$app-background-deeper: #e2e1dd;
$app-interface-elems: #eff2f5;
$chat-bubble: #d9fdd2;
$app-icons: #54646f;
$app-list: #fff;
$marked-as-read: #24d366;
$mid-gray: #a7aeb3;